@mixin layout {
  border-radius: 2px;
  color: #fff;
  background-color: $grey;
  margin: 10px;
  border-style: none;
  height: 25px;
  box-shadow: 3px 3px 5px $grey;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;

  button {
    @include layout;
    width: 65px;
  }
  button:focus {
    outline: none;
  }

  .random {
    margin-left: 60px;
  }

  .generation {
    font-size: 0.8rem;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include layout;
  }

  .select {
    @include layout;
    min-width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
  }

  select {
    appearance: none;
    @include layout;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-right: none;
    border-top: none;
    outline: 0px;
    border-color: $grey/1.5;
    box-shadow: 0 0 0;
  }

  a {
    @include layout;
    text-decoration: none;
    width: 25px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  canvas {
    margin-left: 60px;
    margin-top: 10px;
    box-shadow: 5px 5px 20px #000;
    border-right-style: solid;
    border-top-style: solid;
    border-color: $light-grey;
    border-width: 1px;
  }

}
